<!DOCTYPE html>
<html ng-app="todo">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <title>Up Next</title>
  </head>
  <body ng-controller="TodoController as todo">
    <header>
        <h1>Up Next</h1>
        <p>A responsive, cutting-edge to-do list app.</p>
        <p>Just enter your tasks for the day below, <br>and track them on all of your devices!</p>
    </header>
    <img src="assets/images/blankPaper.png">
      <ul id="todo-list">
        <li ng-repeat="a in todo.tasks track by $index">
          {{a}}
          <button ng-click="todo.deleteTask($index)">Delete</button>
        </li>
      </ul>
      <form ng-submit="todo.createTask()">
        <input type="text" ng-model="todo.newTask">
        <input type="submit">
      </form>
    </img>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script src="app.js"></script>
  </body>
</html>
