* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../assets/images/pureDesk.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

 header h1 {
  position: relative;
  margin: 20px 75px;
  font-family: 'Amatic SC', sans-serif;
  font-size: 4em;
}

header p {
  position: relative;
  margin-left: 75px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  width: 239%;
}

img {
  position: fixed;
  display: inline-block;
  width: 45%;
  left: 50%;
  top: 20px;
}
