* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../assets/images/pureDesk.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

header {
  position: relative;
  display: inline-block;
  width: 50%;
  float: left;
}

header h1 {
  position: relative;
  margin: 20px 75px;
  font-family: 'Amatic SC', sans-serif;
  font-size: 4em;
}

header p {
  position: relative;
  margin-left: 75px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  width: 239%;
}

header .form {
  margin: 30px 0 0 75px;
}

.list-container {
  background-image: url(../assets/images/blankPaper.png);
  display: inline-block;
  position: relative;
  width: 494px;
  height: 544px;
  top: 10px;
}

.list-container ul {
  position: relative;
  margin-left: 100px;
}

.list-container ul li {
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
}

.list-container p {
  font-family: 'Amatic SC', sans-serif;
  text-align: center;
  font-size: 2.5em;
  margin-top: 10px;
}

.form {
  display: block;

}
